.body{
    position: absolute;
    margin-top: 3.6%;
    margin-left: 221px;
    padding-left: 7%;
    padding-right: 5%;
    width: 75%;
    height: 90%;
    background-color: #ECF0F5;
}
.head{
    font-size: 20px;
}
h3{
    font-size: 22px;
}
input{
    margin: 10px;
    /* border: none;
    border-bottom: 1px solid black; */
}
button{
    margin: 10px;
    background-color: #EF3340;
    color: white;
    border: none;
    height: 35px;
    width: 90px;
    border-radius: 3px;
}
button :hover{
    background-image:none;
    background-color: #008D4C;
    cursor: pointer;
}
.form{
    padding-left: 5%;
    background-color: #FFFFFF;
    border-top: 3px solid #3EB1C8;
    border-radius: 5px;
    width: 90%;
    height: 75%;
}